@import 'src/styles/_media-queries.scss';

.number-field {
  border: 1px solid #6d8d74;
  background-color: #84a98c;
  color: #2f3e46;
  text-shadow: -3px 2px 1px rgba(14, 14, 14, 0.171);
  height: 4rem;
  width: 4rem;
  padding-top: 0.6rem;

  border-radius: 2.5px;
  margin: 0.1rem;
  text-align: center;
  font-size: 2rem;
}
.column {
  display: flex;
}
@include xs {
  .number-field {
    height: 6rem;
    width: 7rem;
    padding-top: 1.2rem;
    margin: 0.1rem;
    font-size: 2.3rem;
  }
}
@include sm {
  .number-field {
    height: 7.3rem;
    width: 8.5rem;
    padding-top: 2rem;
    margin-right: 0.5rem;
    font-size: 2.3rem;
  }
}
@include md {
  .number-field {
    height: 8.6rem;
    width: 10.3rem;
    padding-top: 2.5rem;
    margin-right: 1rem;
    font-size: 2.5rem;
  }
}
