@import '/src/styles/media-queries';

.unordered-list {
  display: flex;
  justify-content: space-between;
  gap: 1.2rem;
  background-color: #2f3e46;
  padding: 1.9rem;
  font-size: 1.1rem;
  list-style: none;
  text-decoration: underline dotted;
  text-decoration-thickness: 0.2rem;
  text-decoration-color: #fff;
  text-underline-offset: 0.3rem;
}
.score {
  margin-left: auto;
}
.nav-bar .link {
  color: #fff;
}
@include sm {
  .unordered-list {
    padding: 2.2rem;
    font-size: 1.4rem;
    gap: 4rem;
  }
}
@include md {
  .unordered-list {
    padding: 2.5rem;
    font-size: 1.6rem;
  }
}
